<section>
        <h1>CHANGE PASSWORD</h1>
      <form id="changePassForm">
            <input name="passwords[old]" type="password" placeholder="CURRENT PASSWORD">
          <input name="passwords[new]" type="password" placeholder="NEW PASSWORD">
          <button id="changePassButton">CONFIRM</button>
      </form>
</section>
