<section>
        <h1>Change Password</h1>
      <form id="changePassForm">
            <input name="passwords[old]" type="password" placeholder="Current Password">
          <input name="passwords[new]" type="password" placeholder="New Password">
          <button id="changePassButton">Confirm</button>
      </form>
</section>
