<section>
        <h1>Create Item</h1>
        <div>
          <form id="createItemForm">
            <div>
                  <input name="item[title]" type="text" placeholder="TITLE">
                  </div>
                  <div>
                  <input name="item[description]" type="text" placeholder="DESCRIPTION">
                  </div>
                  <button>CREATE</button>
              </form>
            </div>
        </section>
