<section>
        <h1>Create Item</h1>
        <div>
          <form id="createItemForm">
            <div>
                  <input name="item[title]" type="text" placeholder="Title">
                  </div>
                  <div>
                  <input name="item[description]" type="text" placeholder="Description">
                  </div>
                  <button>Create</button>
              </form>
            </div>
        </section>
