<div id="gamesDisplay">
  {{#each items as |item|}}
    <div class="card" data-id="{{item._id}}">
      <div class="card-body">
        <h1 class="card-title">{{item.title}}</h1>
        <h3>{{item.description}}</h3>
          <button class="btn btn-warning">Edit</button>
          <button class="btn btn-danger" id="deletItemButton">Delete</button>
      </div>
    </div>
  {{/each}}
</div>
