<div id="cardsDisplay">
  {{#each items as |item|}}
    <div class="card" data-id="{{item._id}}">
      <div class="card-body">
        <h1 class="card-title">{{item.title}}</h1>
        <h3 class="card-description">{{item.description}}</h3>
          <button class="btn btn-warning" id="updateItemButton">Edit</button>
          <button class="btn btn-danger" id="deletItemButton">Delete</button>
          <a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  data-text="Title"
  data-url="https://oursite"
  data-hashtags="buckets,lists,bucketlist"
  data-related="bucketlist,buckets">
Tweet
</a>
      </div>
    </div>
  {{/each}}
</div>
