<h1> bucket list </h1>
<button id="signIn">SIGN IN</button>
<button id="signUp">SIGN UP</button>
<div id="form"> </div>
<div id="description" >Sign up or log in to make a list of all those thigs you
  said you were going to do but never got around to doing. There's no better time but now!</div>
