<h1> Bucket List </h1>
<button id="signIn">Sign In</button>
<button id="signUp">Sign Up</button>
<div id="form"> </div>
<div id="description" >Sign up or log in to make a list of all those thigs you
  said you were going to do but never got around to doing. There's no better time but now!</div>
