<h1> Bucket List </h1>
<button id="signIn">SIGN IN</button>
<button id="signUp">SIGN UP</button>
<div id="form"> </div>
<div id="description" >Sign up or log in to make a list of all those thigs you
  said you were going to do but never got around to doing. There's no better time but now!</div>
<h2> User Testimonials </h2>
  <div id= "testimonial1" > I'm going to hang out on this site all day long!</div>
  <div id= "testimonial2" > I deleted all social media platforms because Bucket List is enough!</div>
  <div id= "testimonial3" > I've found myself entranced by Bucket List. I'm making all these goals, writing them down, and accomplishing them. Most empowering app there is!</div>
