<h1> Profile </h1>
<button id="changePass">Change Password</button>
<button id="signOut">Sign Out</button>
<button id="createItem">Create Item</button>
<div id="changePassContainer"></div>
<div id="createItemContainer"></div>
<div id="bucketListBucket"></div>
<div id="errorMessageProfile"></div>
