<h1> Profile </h1>
<button id="changePass">Change Password</button>
<button id="signOut">Sign Out</button>
<button id="createItem">Create Item</button>
<button id="indexItems">Show all Items</button>
<form id="showItemForm">
  <input type="text" name="item[id]" placeholder="id" />
  <button>Show Item</button>
</form>
<form id="updateItemForm">
  <input type="text" name="item[id]" placeholder="id" />
  <input type="text" name="item[title]" placeholder="title" />
  <input type="text" name="item[description]" placeholder="description" />
  <button>Update Item</button>
</form>
<form id="deleteItemForm">
  <input type="text" name="item[id]" placeholder="id" />
  <button>Delete Item</button>
</form>
