<section>
  <h1>SIGN UP</h1>
      <div>
        <form id="signUpForm">
          <div class="center">
              <input name="credentials[email]" type="text" placeholder="USERNAME" class="input-field">
              </div>
            <div class="center">
              <input name="credentials[password]" type="password" placeholder="PASSWORD" class="input-field">
              </div>
            <div class="center">
              <input name="credentials[password_confirmation]" type="password" placeholder="PASSWORD CONFIRMATION" class="input-field">
              </div>
              <button>SIGN UP</button>
          </form>
          <div id="errorMessageSignUp">
            </div>
        </div>
        </section>
