<section id="sign-up-style">
  <h1 class="shrink">SIGN UP</h1>
      <div id="sign-up">
        <form id="sign-up-form">
          <div class="center">
              <input name="credentials[email]" type="text" placeholder="USERNAME" class="input-field">
              </div>
            <div class="center">
              <input name="credentials[password]" type="password" placeholder="PASSWORD" class="input-field">
              </div>
            <div class="center">
              <input name="credentials[password_confirmation]" type="password" placeholder="PASSWORD CONFIRMATION" class="input-field">
              </div>
              <button class="little button" id="sign-up-button">SIGN UP</button>
          </form>
        </div>
        </section>
