<section id="sign-in-style">
        <h1 class="sign-in-title">SIGN IN</h1>
        <div id="sign-in">
          <form id="sign-in-form">
            <div class="center">
                  <input name="credentials[email]" type="text" placeholder="USERNAME" class="input-field">
                  </div>
                  <div class="center">
                  <input name="credentials[password]" type="password" placeholder="PASSWORD" class="input-field">
                  </div>
                  <button class="little-button" id="sign-in-button">SIGN IN</button>
              </form>
            </div>
        </section>
