<section>
        <h1>SIGN IN</h1>
        <div>
          <form id="signInForm">
            <div>
                  <input name="credentials[email]" type="text" placeholder="USERNAME">
                  </div>
                  <div>
                  <input name="credentials[password]" type="password" placeholder="PASSWORD">
                  </div>
                  <button>SIGN IN</button>
              </form>
              <div id="errorMessageSignIn">
                </div>
            </div>
        </section>
