<form class="updateItemForm">
  <input type="hidden" name="item[id]" value="{{item._id}}" />
  <h1 class="card-title"><input type="text" name="item[title]" value="{{item.title}}" /></h1>
  <h3 class="card-description"><input type="text" name="item[description]" value="{{item.description}}" /></h3>
  <button class="btn btn-primary">Update Item</button>
</form>
