$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#cardsDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.card {
  background: rgba(255, 255, 255, .7);
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0px rgba(101,101,101,.5);
  font-size: 28px;
  margin: 20px;
  padding: 12px 60px;
  height: fit-content;
}

.tweet-class {
  border: 0;
  overflow: hidden;
  position: relative;
  top: 16px;
}
