$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Teko|Open+Sans');

.tweet-class {
  border: 0;
  overflow: hidden;
  position: relative;
  top: 16px;
}

#cardsDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.card {
  background: rgba(255, 255, 255, .7);
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0px rgba(101,101,101,.5);
  font-size: 28px;
  margin: 20px;
  padding: 12px 60px;
  height: fit-content;
}

form {
  margin : 0.5em auto 0.55em;
  padding : 0.5em 0 0.55em;
  font-size : 1.5em;
  font-family: "Antic";
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 27px;
  display : block;
  text-align : center;
  text-emphasis-color: #00008B;
  color: #00008B

}

  button {
    border-top: 1px solid #96d1f8;
    background: #0E0600;
    padding: 5px 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #853B00;
    align-content: center;
    font-size: 20px;
    font-family: "Antic";

    }
  #beginning {
    font-size: 20px;
    font-family: "Antic";
    margin: 0 auto;
    align-content: center
    }

h1 {
  font-family: "Lobster";
  	font-size: 50px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 26.4px;
    display: block;
    text-align: left;
    color: #FFBD89
  }
h2 {
  font-family: "Lobster";
  	font-size: 27px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 300;
  	line-height: 26.4px;
    display : block;
    text-align : center;
    color: #0E0600
}
h3 {
  font-family: "Lobster";
  	font-size: 50px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 26.4px;
    display: block;
    text-align: center;
    color: #FFBD89
}
body {
  background: #D46E1D;
  // color: #656565;

}


#description {
      // margin : 0.5em auto 0.55em;
      // padding : 0.5em 0 0.55em;
      margin: 5px auto;
      padding: 10px;
      font-size : 1.5em;
      font-family: "Antic";
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 300;
    	line-height: 27px;
      display : block;
      text-align : justify;
      color: #FFD1AD;
      border-style:solid;
      border-color:#0E0600;
      border-radius: 30px
    }
